
.topHeading{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #cccc;
}

.sideNotificationDiv{
    margin: 0px 19px;
}

.reminder-head{
    display: flex;
    justify-content: space-between;
    margin-top: 3px;
}

.ReminderDetails{
    margin-top: 10px;
}